.nav_main{
  background-color: rgba(7, 4, 4, 70%);
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin: 5px 1px;
  margin-top: 15px;
  padding: 15px 25px;
  border-radius: 3px;
  text-decoration: none;
}

.nav_main:hover{
  background-color: rgba(32, 24, 34, 0.7); 
  box-shadow: 6px 5px 24px #666666;
  transition-delay: 0.2s;
  transition: 0.8s;
}

.nav_main button{
  background-color: rgba(73, 124, 114, 0.7);
  border-style: none;
  cursor: pointer;
  color: rgb(253, 251, 253);
  font-weight: lighter;
  font-size: 15px;
  font-family: Arial;
  text-decoration: none;
}

.nav_main button:hover{
  background-color: rgba(32, 24, 34, 0.7); 
  box-shadow: 6px 5px 24px #666666;
  transition-delay: 0.2s;
  transition: 0.8s;
}
