.detail_Main {
  display: flex;
  flex-direction: wrap;
  justify-content: left;
  margin-right: 240px;
  width: 100%;
  height: auto;
  padding-top: 5px;
  background-color: rgba(7, 4, 4, 70%);
}

.hidden {
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin: 0px 140px;
}

.detail_Container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: left;
  max-width: 650px;
  height: auto;
  margin: 8px 20px;
  margin-right: 140px;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: rgba(7, 4, 4, 60%);
  color: antiquewhite;
  text-align: left;
}
.detail_Container:hover {
  background-color: rgba(73, 124, 114, 0.7);
}

.detail_Container img{
  width: auto;
  margin-top: 15px;
  border-radius: 20px;
}
.row{
  display: flex;
  flex-direction: wrap;
}

.detail_Container h3 {
  font-size: lighter;
  padding: 8px;
}


.detail_Container ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 20px;
  margin: 0;
}

.detail_Container li{
  list-style: none;
}


.loading {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin: 30px 20px;
  padding: 10px 40px;
  border-radius: 10px;
} 


/* #detail_button {
  background-color: rgba(6, 0, 7, 60%);
  padding: 12px;
  border-radius: 10px;
  border-style: none;
  position: absolute;
  top: 40px; right: 80px;
  cursor: pointer;
  
  color: rgb(253, 251, 253);
  font-weight: lighter;
  font-size: 20px;
  text-shadow: 2px 2px 1px #0e1d5a;
  font-family: Arial;
  text-decoration: none;
}

#detail_button:hover {
  background-color: rgba(102, 0, 122, 60%);
  color: antiquewhite;
  box-shadow: 6px 5px 24px #666666;
  transition-delay: 0.2s;
  transition: 0.8s;
} */
