.videogameCreate_Main {
  background-image: url("../../assets/theLastOfUs.jpeg");
  background-attachment: fixed;   
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 8px;
  padding: 10px 100px;
}


.videogameCreate_Main h1{
  color: antiquewhite;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: auto;
  margin: 20px;
  padding: 15px 45px;
  border-radius: 10px;
  background-color: rgba(7, 4, 4, 60%);
  color: antiquewhite;
  text-align: left;
}
.form:hover{
  background-color: rgba(73, 124, 114, 0.7);
}
.form label {
  padding-right: 18px;
}

.form input{
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
}
.form select {
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
}