.videogameCreate_Main {
  background-image: url("../../assets/theLastOfUs.jpeg");
  background-attachment: fixed;   
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 8px;
  padding: 10px 100px;
}


.videogameCreate_Main h1{
  color: antiquewhite;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: auto;
  margin: 20px;
  padding: 15px 45px;
  border-radius: 10px;
  background-color: rgba(7, 4, 4, 60%);
  color: antiquewhite;
  text-align: left;
}
.form:hover{
  background-color: rgba(73, 124, 114, 0.7);
}
.form label {
  padding-right: 18px;
}

.form input{
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
}
.form select {
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
}

.form textarea {
  border-radius: 3px;
  border-style: none;
  cursor: pointer;
}

.selected_Delete {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 20px;
  margin: 0;
}

 .buttonX {
    display: flex;
    flex-direction: row;
    background-color: rgba(73, 124, 114, 0.7);
    padding: 12px;
    border-radius: 3px;
    border-color: rgb(226, 223, 226);
    border-style: none;
    cursor: pointer;
    
    color: rgb(253, 251, 253);
    font-weight: lighter;
    font-size: 12px;
    font-family: Arial;
    text-decoration: none;
  }
  
  .buttonX:hover {
    background-color: rgba(32, 24, 34, 0.7); 
    box-shadow: 6px 5px 24px #666666;
    transition-delay: 0.2s;
    transition: 0.8s;
  }

