.background_Landing {
  background: url("https://media4.giphy.com/media/35B3Val0pYgtpScqsz/giphy.gif?cid=790b76112f01af56612107a0b63755bf2fc0afaed2a1c34c&rid=giphy.gif&ct=g");  
  background-size: cover;
  background-position: center center;
  max-width: auto;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  color: #e2dddd;
};

.background_Landing h3{
  margin-top: 20px;
  font-size: 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
}



#button_Landing{
  border-radius: 3px;
  border-style: none;
  color:rgba(73, 124, 114, 0.7);
  opacity: 0.4;
  cursor: pointer;
  font-size: 25px;
  margin-top: 160px;
  text-shadow: 3px 2px 1px rgba(73, 124, 114, 0.7);
  font-family: Arial;
  padding: 19px;
  text-decoration: none;
}

#button_Landing:hover {
  opacity: 1;
  color: #e2dddd;
  box-shadow: 6px 5px 24px #666666;
  transition-delay: 0.2s;
  transition: 0.8s;
}