.background_Landing {
  background: url("../../assets/game.jpg");
  background-attachment: fixed;   
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 1200px;
}


#button_Landing{
  border-radius: 28px;
  border-style: none;
  background-image: url("../../assets/videogame.png");
  color: #fafafa;
  opacity: 0.4;
  cursor: pointer;
  font-size: 30px;
  margin-top: 170px;
  text-shadow: 3px 2px 1px #9daef5;
  font-family: Arial;
  padding: 19px;
  text-decoration: none;
}

#button_Landing:hover {
  background-image: url("../../assets/videogame.png");
  opacity: 1;
  color: #ffffff;
  box-shadow: 6px 5px 24px #666666;
  transition-delay: 0.2s;
  transition: 0.8s;
}