.background_Landing {
  background: url("https://media4.giphy.com/media/35B3Val0pYgtpScqsz/giphy.gif?cid=790b76112f01af56612107a0b63755bf2fc0afaed2a1c34c&rid=giphy.gif&ct=g");  
  background-size: cover;
  background-position: center center;
  max-width: auto;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  color: #e2dddd;
};

.landing_message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing_message h3{
  margin: 20px 70px;
  font-size: 20px;
  text-align: left;
  text-shadow: 3px 2px 1px rgba(162, 202, 3, 0.7);
  font-family: 'Courier New', Courier, monospace;
}



#button_Landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border-radius: 3px;
  border-style:solid;
  color:rgba(73, 124, 114, 0.7);
  opacity: 0.4;
  cursor: pointer;
  font-size: 25px;
  margin: 20px 70px;
  margin-top: 160px;
  text-shadow: 3px 2px 1px rgba(225, 244, 84, 0.7);
  font-family: 'Courier New', Courier, monospace;
  padding: 9px;
  text-decoration: none;
}

#button_Landing:hover {
  opacity: 1;
  color: #e2dddd;
  box-shadow: 6px 5px 24px #666666;
  transition-delay: 0.2s;
  transition: 0.8s;
}